.body{
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
color: blue;
text-align: center;
}

.board {
display: grid;
grid-template-columns: 100px 100px;
grid-template-rows: 100px 100px;
justify-content: center;
}

.block {
color: white;
background: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
border: 1px solid black;
cursor: pointer;
}

.flash {
background-color: white;
}

.blockBack1 {
    background-color:red;
}

.blockBack2 {
    background-color:blue;
}

.blockBack3 {
    background-color:yellow;
}

.blockBack4 {
    background-color:green;
}
#reset {
    cursor: pointer;
}