.body{
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
color: blue;
text-align: center;
}

.board {
display: grid;
grid-template-columns: 50px 50px 50px 50px;
grid-template-rows: 50px 50px 50px;
justify-content: center;
}

.block {
color: black;
background: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
border: 1px solid black;
}

.blockBack {
    background: red;
}

.blockBack2{
    background:blue;
}

.blockBack3 {
    background: yellow;
}

/* #reset {
    
} */